.cityCard {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  height: 320px;
}

.cityCard:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
}

.imageWrapper {
  width: 100%;
  height: 220px;
  position: relative;
}

.cityInfo {
  padding: 1.2rem;
}

.cityName {
  font-size: 1.35rem;
  font-weight: 700;
  /* margin-bottom: 0.6rem; */
  margin-top: 0.6rem;
  color: #2c3e50;

}

.cityDescription {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

.cityLink {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}